<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Жанр</th>
                <th scope="col">Год выпуска</th>
                <th scope="col">Продолжительность</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film: ${films}">
                <td>
                    <img th:src="@{/files/{fileId}(fileId=${film.fileId})}" class="w-50" alt="No image">
                </td>
                <td th:text="${film.name}" />
                <td th:text="${film.genre}" />
                <td th:text="${film.year}" />
                <td th:text="${film.durationInMinutes}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>